#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .TextField {
    margin-bottom: 10px;
  }
  
  .Button {
    margin-top: 20px;
  }


  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    padding: 16px;
    color: #fff;
  }
  
  .navbar-brand {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
  }
  
  .navbar-link {
    color: #fff;
    text-decoration: none;
    margin-left: 12px;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .navbar-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }